@font-face {
  font-family: "Gafata";
  src: url("../fonts/Gafata-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Gafata", Helvetica;
}

header {
  z-index: 10;
  width: 100%;
  background: #001a57;
  border-bottom: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px;
  position: fixed;
  top: 0%;
}

header img {
  width: 230px;
}

header h2 a {
  color: #fff;
  text-decoration: none;
  font-family: "Gafata";
}

header h2 a:hover {
  text-decoration: none;
  color: #fff;
}

.alerta {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  color: white;
  background: green;
  -webkit-box-shadow: 0px 1px 3px #ccc;
          box-shadow: 0px 1px 3px #ccc;
  margin-bottom: 15px;
  border-radius: 2px;
  text-align: center;
}

.alerta-error {
  width: 100%;
  background: red;
}

section {
  width: 100%;
  background: url(../../../assets/img/fondo-marcona.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding-top: 150px;
}

section .contenedor {
  width: 60%;
  background: rgba(250, 250, 250, 0.8);
  margin: 30px auto;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .contenedor h2 {
  margin: 50px auto;
}

section .contenedor label {
  margin-bottom: 20px;
}

section .contenedor input[type="text"], section .contenedor input[type="password"] {
  margin-bottom: 30px;
  padding: 10px;
  background: none;
  border: none;
  border: 2px solid #001a57;
  background: #fff;
  text-align: center;
}

section .contenedor button {
  margin-bottom: 50px;
  padding: 15px 40px;
  background: none;
  border: none;
  border: 2px solid #001a57;
  color: #001a57;
  -webkit-transition: 1s;
  transition: 1s;
}

section .contenedor button:hover {
  background: #001a57;
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
}

footer {
  background: #001a57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: 3px solid #fff;
}

footer .info {
  width: 50%;
  text-align: left;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
  padding-left: 15%;
}

footer .info img {
  padding-top: 30px;
}

footer .info h5 {
  margin: 0;
  padding: 0;
  margin: 30px 30px 30px 10px;
}

footer .info h5 i {
  margin-right: 10px;
}

footer .info h5 a {
  color: #fff;
  text-decoration: none;
}

footer .mapa {
  width: 50%;
  text-align: center;
  padding: 20px;
}
/*# sourceMappingURL=estilosLogin.css.map */